body {
  color: white;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url(../img/trinidad-landscape.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Amiko', sans-serif;
}

.container {
  background: rgba(255, 255, 255, 0.705);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
  padding: 50px;
  margin-top: 50px;
  border-radius: 3px;
}

.jumbotron {
  background-color: rgb(167, 0, 0);
  text-align: center;
}

#sizeWell {
  background-image: url(../img/trinidad-flag.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.well {
  background-color: rgb(167, 0, 0);
}

h3 {
  color: black;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

.button {
  text-align: center;
  padding-top: 25px;
}

h2 {
  text-align: center;
  color: black;
}

.outputText {
  text-align: center;
  color: black;
  list-style-position: inside;
  font-size: large;
}