body {
  color: white;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url(https://assets.rappler.com/AF9EF9F058504773987B6BEC9EB74F9A/img/111FC201C16D46E2ABEFA028756F7BE7/la-trinidad-benguet-art-house-20160623-003.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Amiko', sans-serif;
}

.container {
  background: rgba(255, 255, 255, 0.705);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
  padding: 50px;
  margin-top: 50px;
  border-radius: 3px;
}

.jumbotron {
  background-color: rgb(167, 0, 0);
  text-align: center;
}

#sizeWell {
  background-image: url(https://static8.depositphotos.com/1011936/853/i/450/depositphotos_8538483-stock-photo-trinidadian-flag-in-the-wind.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.well {
  background-color: rgb(167, 0, 0);
}

h3 {
  color: black;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

.button {
  text-align: center;
  padding-top: 25px;
}

h2 {
  text-align: center;
  color: black;
}

.outputText {
  text-align: center;
  color: black;
  list-style-position: inside;
  font-size: large;
}